<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <section class="mainSection">
            <div class="inputSection">
                <form action="/asciiart" method="POST">
                    <div class="formControls">
                        <div>
                            <label for="banner">Select a banner : </label>
                            <select class="banner" name="banner" id="banner">
                                <option value="standard">Standard</option>
                                <option value="shadow">Shadow</option>
                                <option value="thinkertoy">Thinkertoy</option>
                            </select>
                        </div>
                        <textarea name="text" maxlength="1000" rows="10" cols="30" class="inputText" placeholder="your text here..."></textarea>
                        
                        <button type="submit" class="btn" >Submit</button>
                    </div>
                </form>
            </div>
            <div class="outputSection">
                <pre class="outputText">{{.}}</pre>
            </div>
        </section>
    </main>
</body>

</html>